apiVersion: v1
kind: Pod
spec:
  containers:
    - name: framework-environment-x86-64
      image: framework-environment-x86_64:v1
      resources:
        requests:
          memory: 500Mi
          cpu: 1
        limits:
          memory: 1Gi
          cpu: 2
  restartPolicy: Never
  hostAliases:
    - ip: 172.17.4.194
      hostnames:
        - git.smartmatic.net
