apiVersion: v1
kind: Pod
spec:
  containers:
    - name: framework-environment-i386
      image: framework-environment-i386:v1
  resources:
    requests:
      memory: 500Mi
      cpu: 1
    limits:
      memory: 1Gi
      cpu: 2
  hostAliases:
    - ip: 172.17.4.194
      hostnames:
        - git.smartmatic.net
